Repository jacob-wilkens/nba-live-score: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write

Adding client and server
  client/.eslintignore
  client/.eslintrc.js
  client/.lintstagedrc
  client/.prettierrc.json
  client/index.html
  client/package.json
  client/setup.ts
  client/src/App.tsx
  client/src/index.css
  client/src/main.test.tsx
  client/src/main.tsx
  client/src/vite-env.d.ts
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  client/yarn.lock
Due: eslint --fix, eslint, prettier --write

Adding client and server
  .devcontainer/devcontainer.json
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc
  index.html
  package.json
  server/.eslintignore
  server/.eslintrc.js
  server/.lintstagedrc
  server/.prettierrc.json
  server/package.json
  server/tsconfig.json
  server/yarn.lock
  setup.ts
  src/App.tsx
  src/index.css
  src/main.test.tsx
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, eslint, prettier --write

Server and Client
  .husky/pre-commit
  client/package.json
  client/yarn.lock
  package.json
  server/package.json
  server/yarn.lock
  yarn.lock
Due: prettier --write

Test
  client/src/App.tsx
Due: eslint --fix, eslint

Test linting
  .devcontainer/devcontainer.json
  .gitignore
  client/.lintstagedrc
  client/src/App.tsx
  server/.lintstagedrc
Due: eslint --fix, eslint, prettier --write

Updating start command
  .devcontainer/devcontainer.json
Due: prettier --write

Fixing eslint and tsconfig
  client/.eslintignore
  client/.eslintrc.js
  server/.eslintignore
  server/.eslintrc.js
  server/src/index.ts
  server/tsconfig.json
Due: eslint --fix, eslint, prettier --write

Adding tsconfig update and dependency update for hmr for server
  server/.eslintrc.js
  server/package.json
  server/src/app.ts
  server/src/index.ts
  server/src/middleware/errorHandler.ts
  server/src/middleware/index.ts
  server/tsconfig.json
  server/yarn.lock
Due: eslint --fix, eslint, prettier --write

Adding tsconfig update and dependency update for hmr for server
  server/package.json
  server/src/app.ts
  server/tsconfig.json
  server/yarn.lock
Due: eslint --fix, eslint, prettier --write

Updating error handler in server
  package.json
  server/package.json
  server/public/css/style.css
  server/src/app.ts
  server/src/index.ts
  server/src/middleware/errorHandler.ts
  server/views/error.pug
  server/views/index.pug
  server/views/layout.pug
  server/yarn.lock
Due: eslint --fix, eslint, prettier --write

Finishing config for project
  .devcontainer/devcontainer.json
  client/.eslintrc.js
  client/package.json
  client/postcss.config.js
  client/src/App.tsx
  client/src/index.css
  client/tailwind.config.js
  client/tsconfig.json
  client/vite.config.ts
  client/yarn.lock
  server/.eslintrc.js
  server/src/app.ts
  server/src/middleware/errorHandler.ts
Due: eslint --fix, eslint, prettier --write

Adding api to get live data along with routes, controllers, and useQuery
  .devcontainer/devcontainer.json
  .gitignore
  client/src/App.tsx
  client/src/hooks/index.ts
  client/src/hooks/useQuery/axiosGet.ts
  client/src/hooks/useQuery/index.ts
  client/src/hooks/useQuery/live/index.ts
  client/src/hooks/useQuery/live/useQueryGetLive.ts
  client/src/main.tsx
  client/src/types/index.ts
  client/tsconfig.json
  server/.env.example
  server/package.json
  server/src/app.ts
  server/src/config/config.ts
  server/src/config/index.ts
  server/src/controllers/index.ts
  server/src/controllers/live/index.ts
  server/src/routes/api/index.ts
  server/src/routes/api/live/index.ts
  server/src/routes/index.ts
  server/src/types/index.ts
  server/src/util/index.ts
  server/src/util/nbaClient.ts
  server/tsconfig.json
  server/yarn.lock
Due: eslint --fix, eslint, prettier --write

Starting point for stat component
  .devcontainer/devcontainer.json
  client/package.json
  client/src/App.tsx
  client/src/components/index.ts
  client/src/components/live/LiveStat.tsx
  client/src/components/live/LiveStats.tsx
  client/src/components/live/index.ts
  client/src/hooks/useQuery/axiosGet.ts
  client/src/hooks/useQuery/live/useQueryGetLive.ts
  client/src/types/index.ts
  client/src/utils/dayjs.ts
  client/tailwind.config.js
  client/tsconfig.json
  client/vite.config.ts
  client/yarn.lock
  package.json
  server/.env.example
  server/src/config/config.ts
  server/src/controllers/live/index.ts
  server/src/example/data.json
  server/src/index.ts
  server/src/types/index.ts
  server/src/util/nbaClient.ts
  yarn.lock
Due: eslint --fix, eslint, prettier --write

Adding NBA Reusable IconPicker
  client/package.json
  client/postcss.config.js
  client/src/components/icons/atl.tsx
  client/src/components/icons/bkn.tsx
  client/src/components/icons/bos.tsx
  client/src/components/icons/cha.tsx
  client/src/components/icons/chi.tsx
  client/src/components/icons/cle.tsx
  client/src/components/icons/dal.tsx
  client/src/components/icons/den.tsx
  client/src/components/icons/det.tsx
  client/src/components/icons/gsw.tsx
  client/src/components/icons/hou.tsx
  client/src/components/icons/ind.tsx
  client/src/components/icons/index.ts
  client/src/components/icons/lac.tsx
  client/src/components/icons/lal.tsx
  client/src/components/icons/mem.tsx
  client/src/components/icons/mia.tsx
  client/src/components/icons/mil.tsx
  client/src/components/icons/min.tsx
  client/src/components/icons/nop.tsx
  client/src/components/icons/nyk.tsx
  client/src/components/icons/okc.tsx
  client/src/components/icons/orl.tsx
  client/src/components/icons/phi.tsx
  client/src/components/icons/phx.tsx
  client/src/components/icons/por.tsx
  client/src/components/icons/sac.tsx
  client/src/components/icons/sas.tsx
  client/src/components/icons/tor.tsx
  client/src/components/icons/uta.tsx
  client/src/components/icons/was.tsx
  client/src/components/index.ts
  client/src/components/live/LiveStat.tsx
  client/src/types/index.ts
  client/src/utils/IconPicker.tsx
  client/tsconfig.json
Due: eslint --fix, eslint, prettier --write

Splitting out team rows
  client/src/App.tsx
  client/src/components/live/LiveStat.tsx
  client/src/components/live/Scoreboard.tsx
  client/src/components/live/ScoreboardCard.tsx
  client/src/components/live/ScoreboardTeamRow.tsx
  client/src/components/live/index.ts
  client/src/types/index.ts
Due: eslint --fix, eslint

Pretty, lint, update deps, and scripts
  client/package.json
  client/yarn.lock
  package.json
  server/package.json
  server/src/middleware/errorHandler.ts
  server/yarn.lock
Due: eslint --fix, eslint, prettier --write

Initial Loading and toast for errors
  client/package.json
  client/src/components/live/Scoreboard.tsx
  client/src/components/live/ScoreboardCard.tsx
  client/src/components/live/ScoreboardTeamRow.tsx
  client/src/hooks/useQuery/live/useQueryGetLive.ts
  client/src/main.tsx
  client/src/types/index.ts
  client/yarn.lock
  server/src/controllers/live/index.ts
Due: eslint --fix, eslint, prettier --write

Server build
  server/package.json
  server/tsconfig.json
  server/yarn.lock
Due: prettier --write

Adding starting point for standings
  server/package.json
  server/src/controllers/index.ts
  server/src/controllers/live/index.ts
  server/src/controllers/stats/index.ts
  server/src/controllers/stats/standings/index.ts
  server/src/index.http
  server/src/routes/api/index.ts
  server/src/routes/api/stats/index.ts
  server/src/routes/api/stats/standings/index.ts
  server/src/types/live/index.ts
  server/src/types/standings/index.ts
  server/src/util/index.ts
  server/src/util/nbaLiveClient.ts
  server/src/util/nbaStatsClient.ts
  server/tsconfig.json
  server/yarn.lock
Due: eslint --fix, eslint, prettier --write

Adding validation middleware along with validation on endpoint
  server/package.json
  server/src/controllers/stats/standings/index.ts
  server/src/index.http
  server/src/middleware/errorHandler.ts
  server/src/middleware/index.ts
  server/src/middleware/validate.ts
  server/src/routes/api/stats/standings/index.ts
  server/src/util/dayjs.ts
  server/src/util/index.ts
  server/src/validators/index.ts
  server/src/validators/standings/get/index.ts
  server/src/validators/standings/index.ts
  server/tsconfig.json
  server/yarn.lock
Due: eslint --fix, eslint, prettier --write

Adding East and West Standings
  client/src/components/live/Scoreboard.tsx
  client/src/components/live/ScoreboardTeamRow.tsx
  client/src/components/standings/ConferenceStandings.tsx
  client/src/components/standings/Standings.tsx
  client/src/hooks/index.ts
  client/src/hooks/useQuery/standings/useQueryGetStandings.ts
  client/src/hooks/useToggle.ts
  client/src/index.css
  client/src/types/standings/index.ts
  server/src/data/teams.json
  server/src/services/standings/index.ts
  server/tsconfig.json
Due: eslint --fix, eslint, prettier --write

update deps
  client/package.json
  client/yarn.lock
  server/package.json
  server/yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx}
  prettier --write: any of: *.json
